@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Medium.woff') format('woff2'),
         url('fonts/TTLakes-Medium.woff') format('woff');
    font-weight: 500;
  }

@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Bold.woff') format('woff2'),
         url('fonts/TTLakes-Bold.woff') format('woff');
    font-weight: 700;
  }

body{
    font-family: 'TT Lakes';
    margin: 0;
    padding: 0;
    
}



.mobile-menu {
    display: block;
    background: #ffffff;
    min-width: 320px;
    max-width: 320px;
    min-height: 1024px;
    max-height: 1024px;


}

.header-icon_burger_button {
    position: relative;
    bottom: 23px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 24px;
    margin-right: 16.73px;
    background: #FF3E79;
    border: none;
    padding: 0;
}

.header-icon_burger_button_icon{
    width: 16px;
    height: 16px;
    
}
.header-icon_group {
    margin-right: 78.27px;
    margin-top: 18.73px;
}
.header-icon_search_button {
    position: relative;
    bottom:23px;
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border-radius: 50%;
    border: none;
    padding: 0;
}

.header-icon_search_button_icon {
    height: 17.06px;
    width: 17.06px;
}



.menu {
    margin-top: 14.27px;
    font-weight: 500;
    

}

.menu_element a{
    position: relative;
    display: block;
    text-decoration: none;
    margin-top: 32px;
    color: #1B1C21;
    padding-left: 24px;
    line-height: 24px;
    


}

.contact {
    margin-top:268px ; 
    padding-left: 24px;
    
}
.contact_email {
    margin-top: 16px;
    margin-bottom: 12px;
}

.contact_number {
    font-weight: 700;
    margin: 0;
}

.contact a {
    text-decoration: none;
    color: #1B1C21;
}

.lang {
    display: flex;
    margin-top: 40px;
    padding-left: 24px;
    gap:7px;
}

.lang a {
    text-decoration: none;
    color: #1B1C21;
}

.contact_chat {
    margin-left:16px;
    margin-right: 16px; 
}


.menu_element a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px; 
    height: 32px; 
    background-image: url("img/highlight.png");
    background-repeat: no-repeat;
    transform: translateY(-10%);
    opacity: 0;
    transition: opacity 2s;
}

.menu_element a:hover::before {
    opacity: 1;
}

@keyframes text_color {
    0% {
        color:#1B1C21;
    }

    100% {
        color:#7E7E82;
    }
}

.menu_element a:hover,
.lang a:hover {
    animation-name: text_color;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.contact a:hover {
    opacity: 0.4;
    transition: opacity 1s;
    
}